.story-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.story-list a {
  color: initial;
  cursor: pointer;
  text-decoration: initial;
}

.story-card {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto auto;
}
